name: Build non-main branch
run-name: Build non-main branch
on:
  workflow_dispatch:
  push:
    branches-ignore:
    - 'main'
jobs:
  build:
    runs-on: ubuntu-latest
    steps:

      - uses: actions/checkout@v2

      - name: build docker image
        run: docker build . --file Dockerfile --tag game:latest
